@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  /* Roxo */
  /* --color-primary: hsl(250, 70%, 50%); 
  --color-primary-light: hsl(250, 70%, 70%);
  --color-primary-dark: hsl(250, 70%, 30%); 
  --text-color-primary: hsl(250deg 100% 73%);
  --dashboard-aside-background: hsl(250deg 70% 50% / 20%); */

  /* Verde */
  /* --color-primary: hsl(120, 70%, 50%);
  --color-primary-light: hsl(120, 70%, 70%);
  --color-primary-dark: hsl(120, 70%, 30%);
  --text-color-primary: hsl(120deg 100% 73%);
  --dashboard-aside-background: hsl(120deg 70% 50% / 20%); */

  /* Laranja */
  /* --color-primary: hsl(0, 70%, 50%);
  --color-primary-light: hsl(0, 70%, 70%);
  --color-primary-dark: hsl(0, 70%, 30%);
  --text-color-primary: hsl(0 100% 64%);
  --dashboard-aside-background: hsl(0 70% 50% / 20%); */

  /* Rosa */
  --color-primary: hsl(337, 70%, 50%);
  --color-primary-light: hsl(337, 70%, 70%);
  --color-primary-dark: hsl(337, 70%, 30%);
  --text-color-primary: hsl(337deg 100% 64%);
  --dashboard-aside-background: hsl(337deg 70% 50% / 20%);

  /* Cores dos butões de status */
  --color-completed: hsla(158, 85%, 34%, 1);
  --completed-background: hsla(160, 100%, 95%, 1);
  --completed-border: hsl(158deg 85% 88%);
  --color-pending: hsla(27, 97%, 53%, 1);
  --pending-background: hsla(30, 100%, 96%, 1);
  --pending-border: hsl(27deg 97% 88%);
  --color-cancelled: hsla(0, 100%, 50%, 1);
  --cancelled-background: hsla(356, 100%, 98%, 1);
  --cancelled-border: hsl(0deg 100% 88%);

  /* --gray-border: 1px solid #dfdfdf; */
  --gray-border: 1px solid #e6e6e6;
}



* {
  font-family: "Inter", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  background: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

h1 {
  font-size: 27px;
}


@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.btn-home {
  padding: 6px 8px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.dashboard-container {
  display: flex;
  background-color: #F5F6F9;
  width: 100vw;
  height: 100vh;
}