:root {
  /* --color-primary: hsl(250, 70%, 50%); 
  --color-primary-light: hsl(250, 70%, 70%);
  --color-primary-dark: hsl(250, 70%, 30%); 
  --text-color-primary: hsl(250deg 100% 73%);
  --dashboard-aside-background: hsl(250deg 70% 50% / 20%); */

  /* --color-primary: hsl(120, 70%, 50%);
  --color-primary-light: hsl(120, 70%, 70%);
  --color-primary-dark: hsl(120, 70%, 30%);
  --text-color-primary: hsl(120deg 100% 73%);
  --dashboard-aside-background: hsl(120deg 70% 50% / 20%); */

  --color-primary: hsl(337, 70%, 50%);
  --color-primary-light: hsl(337, 70%, 70%);
  --color-primary-dark: hsl(337, 70%, 30%);
  --text-color-primary: hsl(337deg 100% 64%);
  --dashboard-aside-background: hsl(337deg 70% 50% / 20%);
}



* {
  font-family: "Inter", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

h1 {
  font-size: 27px;
}


@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.btn-home {
  padding: 6px 8px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.dashboard-container {
  display: flex;
  background: #F5F6F9;
}